body {
    font-family: 'Comic Sans';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: hidden;
    font-size: 16pt;
    flex-direction: column;
}
#container {
width: fit-content;
padding: 0 50px;
text-align: center;
box-shadow: 0 0 30px rgba(0, 0, 0, 0.120);
height: 300px;
display: flex;
justify-content: center;
align-items: center;
background-color: #fff;
flex-direction: column;
justify-content: space-evenly;
border-radius: 20px;
}
h3 {
    padding: 0;
    margin: 0;
    color: blue;
    padding: 3px;
    font-family: 'Comic Sans';
    font-size: 20pt;
}
.arredondarRight {
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
}
ul {
list-style-type: none;
display: flex;
padding: 0;
margin: 0;
}
a {
text-decoration: none;
color: #0190e2;
border: 1px solid #0190e2;
text-shadow: 0 0 2px #018fe24b;
padding: 10px 15px;
}
.arredondarLeft {
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}
#container {
    text-align: center;
}
a:hover {
    background-color: rgba(0, 0, 0, 0.120);
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
}